body{
    background-color: aliceblue;
}
.nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-weight: bold;
    background-color: black;
    margin-top: -10px;
    width: 98%;
    margin-left:-8px;
}
a{
    text-decoration: none;
    color: rgb(224, 61, 61);
}

li{
    padding: 15px;
}
#batch fieldset{
    width: 35%;
    overflow: hidden;
    margin-left: 350px;
    margin-top: 85px;
    background-size: 610px;
    margin-bottom: 25px;}
#batch{
    padding: 10px;
    margin-left: 16px;
}
button{
    margin:24px;
    width: 70px;
    height: 25px;
    border-radius: 10px 5px;
    color: rgb(11, 35, 35);
    background-color: aquamarine;
    z-index: 1;
}
#batch h2{
    margin-left: 84px;
}
p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button:hover{
    border-radius: 5px 5px;
    border-color: aqua;
}
/*about*/
#info{
    background-color: rgb(30, 28, 28);
    color: aliceblue;
    display: flex;
    flex-direction: row;
    padding-left: 80px;
    margin: -8px;
}
h3{
    margin-left: 100px;
}

.main hr{
    width: 60%;
    margin-left:57px;
    margin-top: -10px;
}
.main{
    margin-right: 50px;
}
.main ul{
    list-style: none;
}
.use{
    margin-left: 14px;
}
.ful{
    margin-left: 10px;
}
#usl{
    margin-left: 55px;
}
#contact{
    margin-left: 70px;
}
#foot{
    text-align: center;
    justify-content: center;
    background-color: rgb(30, 28, 28);
    color: aliceblue;
    margin: -8px;
}
#logo {
height: 55px;
position: absolute;
display: flex;
margin-top: -21px;
margin-left: -7px;
}
.logo{
  padding-left: 20px;
}
.nav ul {
display: flex;
flex-direction: row;
list-style: none;
font-weight: bold;
background: rgba(33, 33, 33, 0.89);
z-index: 2;
margin-top: -71px;
width: 79%;
height: 55px;
margin-left: 17px;
padding-left: 17rem;
}
.nav h2 {
font-size: 25px;
margin-left: 60px;
color: rgb(241, 243, 245);
}